/* meguiddo
 *
 * STYLUS/CSS Document - /assets/stylus/styles.styl
 *
 * coded by Pierre-Antoine "leny" Delnatte
 *
 * started in may 2016
 */

// imports
@import "kouto-swiss"

// resets
normalize()
box-sizing-reset()

ks-color-fallback-enabled = true

// ----- commons

:focus
    outline: 0

html
    height: 100%
    font: normal 62.5%/1.5 font-stack( "Helvetica" )
