doctype html
html( lang="en" )
    head
        meta( charset="UTF-8" )/
        title meguiddo

        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0" )/

        link( rel="stylesheet", href="assets/styles.min.css" )/

        <!--[if lt IE 9]>
        script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )
        <![endif]-->

    body
        main
            h1
                include ../svg/logo.svg

            ul
                li
                    include ../svg/black-sea.svg
                li
                    include ../svg/world.svg
                li
                    include ../svg/stardust.svg

            .controls
                a.prev( href="#" ) 
                a.play-pause( href="#" ) 
                a.next( href="#" ) 

            audio
